services:
  db:
    image: postgres:16-alpine
    environment:
      POSTGRES_DB: kurkod_db
      POSTGRES_USER: kurkod
      POSTGRES_PASSWORD: kurkod

  app:
    build:
      context: .
      dockerfile: Dockerfile
    depends_on:
      - db
    ports:
      - "8080:8080"
    environment:
      DB_URL: jdbc:postgresql://db:5432/kurkod_db
      DB_USER: kurkod
      DB_PASSWORD: kurkod

      SERVER_PORT: 8080
      SPRING_PROFILES_ACTIVE: dev

      JWT_SECRET: Lfdswfw32424erwdsdu8fe8wer25r32r7duwesfuet48t245832re78usfy8ret4FAEFUAJHFEehrwery23475r3FYEDAFGYerwgr3252ry7uwe
      JPA_SHOW_SQL: "false"
      LOG_LEVEL_APP: INFO
      LOG_LEVEL_WEB: INFO
      LOG_LEVEL_SQL: WARN
      LOG_LEVEL_BINDER: WARN
      LOG_LEVEL_DISPATCHER: INFO

      SWAGGER_SERVER: http://localhost:8080
