:root {
  --color-brown-dark: #3D352C;
  --color-brown-light: #9D9284;
  --color-sand-dark: #948E88;
  --color-sand-light: #F9F6F2;
  --color-white: #FFFFFF;
  --color-blue: #659EBC;

  //light
  --color-text: #3D3788;
  --color-text-light: #686590;
  --color-bg: #EBF0F6;
  --color-red: #C43B5D;
  --color-green: #3BC466;
  --color-pink-contrast: #EF4D7E;
  --color-purple-contrast: #726DAF;
  --color-blue-contrast: #34B0E3;
  --color-cian-contrast: #3BBFC4;

  --font-family-montserrat: 'Montserrat', sans-serif;
  --font-family-logo: 'Marck Script', sans-serif;

  --shadow: 0 4px 4px 0 rgba(61, 55, 136, 0.25);
}