spring.application.name=kurkod
server.port=8189


#Jwt
jwt.secret=YOUR_SECRET_KEY
jwt.lifetime=3600000
jwt.expiration=103600000


#PostgreSQL
spring.datasource.url=YOUR_URL
spring.datasource.username=YOUR_USER
spring.datasource.password=YOUR_PASSWORD


#Jpa
spring.jpa.hibernate.ddl-auto=update
spring.jpa.show-sql=true


#Flyway
spring.flyway.enabled=true
spring.flyway.locations=classpath:db/migration


#Swagger
springdoc.swagger-ui.path=/swagger-ui.html
springdoc.api-docs.path=/v3/api-docs


#Logging level
swagger.servers.first=http://localhost:8189
logging.level.io.github.artsobol=TRACE
logging.level.org.springframework.web=DEBUG
logging.level.org.flywaydb=DEBUG
logging.level.org.springframework.web.servlet.DispatcherServlet=DEBUG
logging.level.org.hibernate.SQL=DEBUG
logging.level.org.hibernate.type.descriptor.sql.BasicBinder=TRACE